# General
src/
pkg/
*.pkg.tar.zst

# Pkg specific
mingw-w64-sigdigger-git/mingw-w64-ucrt-x86_64-sigdigger-git/
mingw-w64-sigutils-git/mingw-w64-ucrt-x86_64-sigutils-git/
mingw-w64-suscan-git/mingw-w64-ucrt-x86_64-suscan-git/
mingw-w64-suwidgets-git/mingw-w64-ucrt-x86_64-suwidgets-git/
mingw-w64-radio_tool-git/mingw-w64-ucrt-x86_64-radio_tool-git/
